.header {
    background-color: #3a3d46;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
}
